* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  * #btnRegresar {
    position: fixed;
    bottom: 40px;
    right: 40px;
    padding: 10px;
    font-size: 30px;
    background: rgba(0, 0, 0, 0.8);
    color: #20C20E;
    width: 62px;
    height: 50px;
    padding-bottom: 58px;
    border-radius: 100%;
    text-align: center; }
    * #btnRegresar:hover {
      transform: translateY(-12px);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
      transition: all 0.2s ease;
      background: #000;
      color: #20C20E; }

header {
  width: 100%;
  background: url("../img/bg.jpg") #281a0c;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  header .contenedor {
    padding-top: 30px;
    height: 720px;
    overflow: hidden; }
    header .contenedor .contenedorLogoMenu {
      text-align: center; }
      header .contenedor .contenedorLogoMenu .logo img {
        border-radius: 10px;
        margin-bottom: 10px; }
        header .contenedor .contenedorLogoMenu .logo img:hover {
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
          transform: scale(1.1);
          transition: all 0.1s ease; }
      header .contenedor .contenedorLogoMenu .menu {
        margin-top: 20px;
        display: flex;
        justify-content: center; }
        header .contenedor .contenedorLogoMenu .menu .itemMenu {
          display: inline-block;
          width: 200px; }
          header .contenedor .contenedorLogoMenu .menu .itemMenu a {
            font-family: "Open Sans", sans-serif;
            font-weight: 400;
            font-size: 20px;
            color: #fff;
            text-decoration: none;
            padding: 10px;
            border-radius: 50px;
            overflow: hidden; }
            header .contenedor .contenedorLogoMenu .menu .itemMenu a:hover {
              background: rgba(0, 0, 0, 0.2);
              font-weight: 800;
              transition: all 0.2s ease;
              box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); }
    header .contenedor .textos {
      color: #fff;
      font-family: "Sono", sans-serif;
      margin: 150px 140px; }
      header .contenedor .textos h1 {
        font-weight: 700; }
      header .contenedor .textos h3 {
        font-weight: 300; }

.main .acercaDe {
  margin: 0 10%;
  overflow: visible;
  text-align: center; }
  .main .acercaDe:hover img {
    transform: scale(1.1);
    transition: all 0.5s ease; }
  .main .acercaDe .foto {
    margin-top: -60px; }
    .main .acercaDe .foto img {
      border-radius: 50%;
      border: 5px solid rgba(255, 255, 255, 0.2); }
  .main .acercaDe .contenido {
    margin: 20px; }
    .main .acercaDe .contenido h2 {
      font-family: "Sono", sans-serif;
      font-weight: 700;
      font-size: 45px; }
    .main .acercaDe .contenido p {
      line-height: 35px;
      font-family: "Open Sans", sans-serif;
      font-weight: 500;
      font-size: 18px; }
      .main .acercaDe .contenido p span {
        font-weight: 700; }

.main .certificados {
  background: url("../img/bg-certificados.jpg") #281a0c;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 50px 20px;
  text-align: center; }
  .main .certificados h2 {
    color: #fff;
    font-family: "Sono", sans-serif;
    font-weight: 700;
    font-size: 40px; }
  .main .certificados .galeria {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .main .certificados .galeria a {
      margin: 10px; }
    .main .certificados .galeria img {
      width: 303px;
      height: 186px;
      opacity: 0.5;
      border-radius: 10px; }
      .main .certificados .galeria img:hover {
        opacity: 1;
        cursor: pointer;
        border: 1px solid #fff;
        transform: scale(1.3);
        transition: all 0.5s ease;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.9); }

.main .contacto {
  padding: 20px 20px;
  background: #eeeeee; }
  .main .contacto .titulo {
    font-family: "Sono", sans-serif;
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    color: #0f0844; }
  .main .contacto .tituloMensaje, .main .contacto .tituloLinkedin {
    margin-top: 10px; }
  .main .contacto h3 {
    font-family: "Sono", sans-serif;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px; }
  .main .contacto form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .main .contacto form .nombre {
      margin-right: 30px; }
    .main .contacto form .nombre, .main .contacto form .email, .main .contacto form .mensaje {
      border: 2px solid #cecece;
      border-radius: 10px;
      padding: 15px 20px;
      font-size: 20px;
      color: #a4a4a4; }
    .main .contacto form .nombre, .main .contacto form .email {
      width: 43.4%;
      margin-bottom: 15px; }
    .main .contacto form .mensaje {
      width: 90%;
      height: 100%;
      min-width: 90%;
      max-width: 100%;
      min-height: 100px;
      max-height: 300px;
      margin: 0 10px; }
    .main .contacto form .boton {
      margin-top: 15px;
      background: #3895ea;
      color: #fff;
      border: none;
      border-radius: 7px;
      padding: 15px 40px;
      cursor: pointer; }
      .main .contacto form .boton:hover {
        transform: scale(1.1);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
        transition: all 0.2s ease; }
    .main .contacto form .nombre:focus, .main .contacto form .email:focus, .main .contacto form .mensaje:focus {
      border: 2px solid #0f0844;
      transform: scale(1.03); }
  .main .contacto .contenedorLinkedin, .main .contacto .contenedorGithub {
    line-height: 10px;
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px; }
    .main .contacto .contenedorLinkedin:hover, .main .contacto .contenedorGithub:hover {
      transform: scale(1.1);
      transition: all 0.1s ease; }
      .main .contacto .contenedorLinkedin:hover .linkedin, .main .contacto .contenedorGithub:hover .linkedin {
        background: #0a66c2;
        transition: all 0.3s ease; }
      .main .contacto .contenedorLinkedin:hover .github, .main .contacto .contenedorGithub:hover .github {
        background: #6cc644;
        transition: all 0.3s ease; }
    .main .contacto .contenedorLinkedin .linkedin, .main .contacto .contenedorLinkedin .github, .main .contacto .contenedorGithub .linkedin, .main .contacto .contenedorGithub .github {
      padding: 0px 22px;
      color: #fff;
      border-radius: 5px;
      background: #1e2b38; }

footer {
  width: 100%;
  background: #02010A;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Sono", sans-serif; }
  footer a {
    margin-right: 50px; }
    footer a img {
      width: 50px;
      border-radius: 10px; }
      footer a img:hover {
        transform: scale(1.2);
        transition: all 0.1s ease; }
  footer h3 {
    font-size: 25px;
    margin-right: 10px;
    font-weight: 600; }
  footer p {
    margin-top: 10px;
    font-weight: 400;
    font-size: 20px; }
    footer p:hover {
      font-weight: 600;
      transition: all 0.1s ease;
      cursor: pointer; }
  footer h3:hover, footer p:hover {
    transform: scale(1.03);
    transition: all 0.1s ease; }

@media screen and (max-width: 992px) {
  header .contenedor .contenedorLogoMenu .logo img:hover {
    box-shadow: none;
    transform: none;
    transition: none; }
  header .contenedor .contenedorLogoMenu .logo img:active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    transform: scale(1.1);
    transition: all 0.01s ease; }
  header .contenedor .contenedorLogoMenu .menu .itemMenu a:hover {
    background: none;
    font-weight: 400;
    transition: none;
    box-shadow: none; }
  header .contenedor .contenedorLogoMenu .menu .itemMenu a:active {
    background: rgba(0, 0, 0, 0.2);
    font-weight: 800;
    transition: all 0 0.1s ease;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); }
  header .contenedor .textos {
    text-align: center;
    margin: 150px 0; }
  .main .acercaDe {
    margin: 0;
    margin-bottom: 30px; }
  .main .certificados .galeria img {
    opacity: 1; }
  .main .certificados .galeria img:hover {
    opacity: none;
    border: none;
    transform: none;
    transition: none;
    box-shadow: none; }
  .main .certificados .galeria img:active {
    opacity: 1;
    cursor: pointer;
    border: 1px solid #fff;
    transform: scale(1.3);
    transition: all 0.01s ease;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9); }
  .main .contacto form .mensaje {
    width: 92%; }
  .main .contacto form .boton:hover {
    transform: none;
    box-shadow: none;
    transition: none; }
  .main .contacto form .boton:active {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
    transition: all 0.01s ease; }
  .main .contacto .contenedorLinkedin .linkedin {
    background: #0a66c2; }
  .main .contacto .contenedorGithub .github {
    background: #6cc644; }
  .main .contacto .contenedorLinkedin:hover, .main .contacto .contenedorGithub:hover {
    transform: none;
    transition: none; }
    .main .contacto .contenedorLinkedin:hover .linkedin, .main .contacto .contenedorGithub:hover .linkedin {
      background: #0a66c2;
      transition: none; }
    .main .contacto .contenedorLinkedin:hover .github, .main .contacto .contenedorGithub:hover .github {
      background: #6cc644;
      transition: none; }
  .main .contacto .contenedorLinkedin:active, .main .contacto .contenedorGithub:active {
    transform: scale(1.1);
    transition: all 0.1s ease; }
  footer a img:hover {
    transform: none;
    transition: none; }
  footer a img:active {
    transform: scale(1.1);
    transition: all 0.01s ease; }
  footer p:hover {
    font-weight: none;
    transition: none;
    cursor: none; }
  footer h3:hover, footer p:hover {
    transform: none;
    transition: none; }
  footer p:active {
    font-weight: 600;
    transition: all 0.01s ease;
    cursor: pointer; }
  footer h3:active, footer p:active {
    transform: scale(1.03);
    transition: all 0.01s ease; } }

@media screen and (max-width: 767px) {
  .main .contacto form {
    margin-left: 28px; }
  .main .contacto .contenedorRedesSociales {
    display: flex;
    justify-content: center;
    align-items: center; }
  .main .contacto .contenedorLinkedin {
    margin-right: 150px; }
  .main .contacto .contenedorGithub {
    margin-bottom: 20px; } }

@media screen and (max-width: 600px) {
  header .contenedor .textos h1 span {
    display: block; }
  footer a, footer h3, footer p {
    font-size: 17px; } }

@media screen and (max-width: 479px) {
  header .contenedor .menu {
    flex-wrap: wrap; }
    header .contenedor .menu .itemMenu {
      margin-bottom: 15px; }
  .main .contacto h3 {
    font-size: 30px;
    width: 100%;
    margin-left: 10px; }
    .main .contacto h3 .contenedorLinkedin {
      margin-right: 30px; }
  .main .contacto form {
    width: 100%;
    margin-left: 12px; }
    .main .contacto form .mensaje {
      width: 100%; }
  .main .contacto .contenedorLinkedin {
    margin-right: 60px; }
  footer a {
    margin-right: 20px; }
  footer a, footer h3, footer p {
    font-size: 13px; } }

@media screen and (max-width: 419px) {
  header .contenedor .textos .junior {
    display: block; }
  header .contenedor .textos .ocultar {
    display: none; } }
